@import '../../App.scss';

.modalContainer {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: hidden; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  z-index: 9200;
  &.modalContainer__visible {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.modalContent {
  background-color: $white;
  min-width: 30rem;
  padding: 1.5rem;
}